<% provide(:title, "About")%>
<div class="row"><div class="col-sm-12 sectionHeader"><h1>So what's the dealio?</h1></div></div>

  <blockquote>
  <header>What is it?</header>
<p>twatter is a microposting site where you share with other users through short blurbs of text called twats</p>
  </blockquote> 

    <blockquote>

  <header>How is it different from twitter? </header>
  <p>Good question!
 twatter is more than a simple twitter clone with slight name changes.
 It's a community! Where people can reach out to other twattelers.</p>
  </blockquote> 

    <blockquote>
  <header>Does it have follower system? </header>
  <p>twatter is about equality of opinion,
 therefor there are no leaders or followers on twatter, only close-knit communities
 of close-minded people called twattles, but, yes, it does have follower functionality.</p>
  </blockquote> 

