<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
    <div class="center jumbotron">
        <h1>Welcome to twatter</h1>
        <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  <div class="row"><div class="col-sm-12 sectionHeader"><h1>Reviews</h1></div></div>

  <blockquote>
  <p>"twatter is the peak of software engineering"</p>
  <footer>Lucas</footer>
  </blockquote> 
  
  <blockquote>
  <p>"twatter is a must for modern influencers looking to make a real impact on a fake platform"</p>
  <footer>test_user_12</footer>
  </blockquote>

  <blockquote>
    <p>"twatter is all the things twitter used to be for me like friendship, the envy of
     other people's lives from my graduating class who are doing better than me, and budget byte recipes,
      but in a way more streamlined and comprehensive package"</p>
  <footer>paid actor</footer>
  </blockquote>
  



<% end %>